@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: theme('colors.white');
    color: theme('colors.slate.900');
  }
}